body { font-size:12px; color:#444;  font-family: microsoft yahei; line-height:200%; no-repeat center top; }
form,div,body,img,p,a,img,dl,dd,dt,table,tr,td,th,select,option{
    margin: 0px;
    padding: 0px;
    border: 0;
    color: #656667;
}
a:link{  text-decoration:none !important; outline:none !important; }
a:visited{ text-decoration:none !important; outline:none !important;}
a:hover{  text-decoration:none !important; outline:none !important;}
a:focus { -moz-outline-style: none !important; }
a:active{ outline:none !important; text-decoration:none;}

ul,li{ list-style:none; margin:0; padding:0;}
input,textarea,select{ color:#656667; margin:0; padding:0; font-size:12px; font-family:Arial; vertical-align:middle;}
input:focus,textarea:focus{ outline:0;}

/*删除火狐下按钮默认样式*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,fpage
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border:none; padding:0;
}

/*浮动*/
.clearboth { clear:both; font-size:0px; line-height:0px; height:0px; border:0px; position:relative; overflow:hidden;}
.float_l{ float:left; display:inline;}
.float_r{ float:right; display:inline;}

/*字号*/
.f9 { -webkit-text-size-adjust:none; font-size:9px;}
.f10 { -webkit-text-size-adjust:none; font-size:10px;}
.f11 { -webkit-text-size-adjust:none; font-size:11px;}
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f15 { font-size:15px;}
.f16 { font-size:16px;}
.f17 { font-size:17px;}
.f18 { font-size:18px;}
.f19 { font-size:19px;}
.f20 { font-size:20px;}
.f22 { font-size:22px;}
.f24 { font-size:24px;}
.f26 { font-size:26px;}
.f48 { font-size:48px;}

/*字体*/
.Tahoma{ font-family:Tahoma;}
.Arial { font-family:Arial;}
.YaHei { font-family:"微软雅黑","宋体";}
.Song { font-family:"宋体";}
.Snicsn { font-family:snicsn;}

/*行高*/
.lh120{ line-height:120%;}
.lh130{ line-height:130%;}
.lh140{ line-height:140%;}
.lh150{ line-height:150%;}
.lh160{ line-height:160%;}
.lh180{ line-height:180%;}
.lh200{ line-height:200%;}
.lh230{ line-height:230%;}

/*上下间距*/
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb35{ margin-bottom:35px;}
.mb40{ margin-bottom:40px;}
.mb45{ margin-bottom:45px;}
.mb50{ margin-bottom:50px;}
.mb60{ margin-bottom:60px;}
.mb70{ margin-bottom:70px;}
.mb80{ margin-bottom:80px;}
.mb90{ margin-bottom:90px;}
.mb100{ margin-bottom:100px;}

.mr15{ margin-right:15px;}
.mr40{ margin-right:40px;}

.mtb25{ margin:25px 0;}

.ml20{ margin-left:20px;}

.pd0{ padding:0;}
.pdl1{ padding-left:1px;}
.pdl5{ padding-left:5px;}
.pdl10{ padding-left:10px;}
.pdl15{ padding-left:15px;}
.pdl20{ padding-left:20px;}
.pdl25{ padding-left:25px;}
.pdl30{ padding-left:30px;}
.pdl35{ padding-left:35px;}
.pdl40{ padding-left:40px;}
.pdl45{ padding-left:45px;}
.pdl50{ padding-left:50px;}
.pdl60{ padding-left:60px;}
.pdl70{ padding-left:70px;}
.pdl130{ padding-left:130px;}

.pdr4{ padding-right:4px;}
.pdr10{ padding-right:10px;}
.pdr15{ padding-right:15px}
.pdr20{ padding-right:20px}
.pdr25{ padding-right:25px;}
.pdr30{ padding-right:30px;}
.pdr35{ padding-right:35px}
.pdr40{ padding-right:40px;}

.pdt5{ padding-top:5px;}
.Pdt15{ padding-top:15px;}
.Pdt20{ padding-top:20px;}
.Pdt25{ padding-top:25px;}
.pdt50{ padding-top:50px;}
.pdtb10{ padding:10px 0;}

.pdlr5{ padding:0 5px;}
.pdlr15{ padding:0 15px;}
.pdlr20{ padding:0 20px;}

.pdb5{ padding-bottom:5px;}
.pdb10{ padding-bottom:10px;}

/*宽度*/
.w200{ width:200px;}
.w190{ width:190px;}
.w140{ width:140px;}
.w130{ width:130px;}
.w120{ width:120px;}
.w80{ width:80px;}
.w76{ width:76px;}
.w60{ width:60px;}
.w45{ width:45px;}
.w20{ width:20px;}

/*链接*/
.White,a.White{ color:#fff !important;}
a:hover.White { color:#fff!important;}

.Black,a.Black{ color:#000 !important;}
a:hover.Black { color:#000!important;}

.Black1,a.Black1{ color:#131415 !important;}
a:hover.Black1 { color:#131415!important;}

.Blue,a.Blue{ color:#0068b7 !important;}
a:hover.Blue { color:#0068b7!important;}

.Gray,a.Gray{ color:#939393 !important;}
a:hover.Gray { color:#939393!important;}

.Green,a.Green{ color:#608902 !important;}
a:hover.Green { color:#608902!important;}

.Orange,a.Orange{ color:#da5e0c !important;}
a:hover.Orange{ color:#da5e0c !important;}

.Red,a.Red{ color:#e00616!important;}
a:hover.Red{ color:#e00616!important;}

/*公共部分*/
table tr td{
    vertical-align: top;
    color: #000000;
}
.TdMiddle{ vertical-align:middle;}
.div100{ width:100%;}
.B{ font-weight:bold;}
.B600{ font-weight:600;}
.Em2{ text-indent:2em;}
.Text_l{ text-align:left;}
.Text_r{ text-align:right;}
.Text_c{ text-align:center;}

/*分页*/
.pagea {
	height: 30px;
	line-height: 30px;
	margin-bottom :20px;
}
.page{ text-align:right; box-shadow:0 1px 2px #ccc;}
.page:after {
    content: '.';
    height: 0;
    display: block;
    clear: both;
}
.page a,.page span{ display: block;float: left;height: 30px;line-height: 30px;text-align: center;padding: 0px 5px;color: #999;background: #fff;border: 1px solid #ccc;border-left: none;max-width: 55px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;min-width: 30px;}
.page a:first-child,.page span:first-child{ border-left:1px solid #ccc;}
.page a.cur:not(.disabled),.page a:hover:not(.disabled) { color:#444; background:#f5f5f5;}
.page a.cur {cursor: default;}
.page a.disabled {cursor: not-allowed;}

/*头部*/
header.navbar {
    background-color: rgba(249, 249, 249, 0.8);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    height: 80px;
    margin-bottom: 0;
    width: 100%;
}
header.navbar .logo {
    float: left;
    width: 50px;
    height: 78px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../images/logo-elover.png);
}
header.navbar ul.nav.navbar-nav {
    height: 100%;
    position: relative;
    float: right;
}
header.navbar ul.nav.navbar-nav > li {
    width: 100px;
    text-align: center;
}
header.navbar ul.nav.navbar-nav > li > a {
    padding: 22px 0 17px;
    font-size: 14px;
    font-weight: bold;
    color: #434a54;
}
header.navbar ul.nav.navbar-nav > li > a:hover, header.navbar ul.nav.navbar-nav > li > a:focus {
    background-color: #fff;
}

header.navbar ul.nav.navbar-nav > li > a .subtitle {
    font-size: 12px;
    color: #cacad1;
    font-weight: normal;
}
header.navbar ul.nav.navbar-nav .top-active {
    width: 100px;
    left: 0;
    height: 6px;
    background-color: #3daed9;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .3s ease-out .05s;
    transition: all .3s ease-out .05s;
}
header.navbar ul.nav.navbar-nav .top-active.active-1 {
    width: 100px;
    left: 0;
}
header.navbar ul.nav.navbar-nav .top-active.active-2 {
    width: 100px;
    left: 100px;
}
header.navbar ul.nav.navbar-nav .top-active.active-3 {
    width: 100px;
    left: 200px;
}
header.navbar ul.nav.navbar-nav .top-active.position-1 {
    width: 100px !important;
    left: 0 !important;
}
header.navbar ul.nav.navbar-nav .top-active.position-2 {
    width: 100px !important;
    left: 100px !important;
}
header.navbar ul.nav.navbar-nav .top-active.position-3 {
    width: 100px !important;
    left: 200px !important;
}
header .dropdown-menu {
    min-width: 0;
    width: 100%;
}
@media (max-width: 767px) {
    header.navbar ul.nav.navbar-nav {
        margin: 0
    }
    header.navbar ul.nav.navbar-nav > li {
        float: left;
    }
    header.navbar ul.nav.navbar-nav .top-active {
        display: none;
    }
}

/* banner */
.banner {
    padding-top: 100px;
    background-image: url(../images/bg-banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .title {
    font-size: 36px;
    font-weight: bold;
    font-family: microsoft yahei;
    letter-spacing: 2px;
    margin-top: 30px;
    line-height: 60px;
    color: #fff;
}
.banner .text {
    font-size: 14px;
    font-family: microsoft yahei;
    letter-spacing: 2px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 50px;
}


/*页脚*/
/*footer*/
footer .foot{
    background-color: #25272b;
    padding: 0;
}
footer .foot h2 { 
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 36px;
    margin: 30px;
}
footer .foot h2 img { 
    width: 130px;
    display: block;
    margin: 0 auto;
}
footer .foot > div > div { height:40px; line-height:40px; border-top:1px solid #3d3d3d;}
footer .foot > div > div p{ font-size:12px; color:#757575;}





/*公用按钮样式*/
/*白色背景按钮*/
.btn-white {
    border: 1px solid #c8c8c8;
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fff', endColorStr='#eaeef2', gradientType='0');
    background-image: -webkit-linear-gradient(top, #fff, #eaeef2);
    background-image: -moz-linear-gradient(top, #fff, #eaeef2);
    background-image: -ms-linear-gradient(top, #fff, #eaeef2);
    background-image: -o-linear-gradient(top, #fff, #eaeef2);
    background-color: #fff;
    color: #666666 !important;
    box-shadow: 0px 0px 2px #fff inset;
}
.btn-white:hover {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fff', endColorStr='#f4f4fa', gradientType='0');
    background-image: -webkit-linear-gradient(top, #fff, #f4f4fa);
    background-image: -moz-linear-gradient(top, #fff, #f4f4fa);
    background-image: -ms-linear-gradient(top, #fff, #f4f4fa);
    background-image: -o-linear-gradient(top, #fff, #f4f4fa);
    background-color: #f4f4fa;
    color: #666666 !important;
}
.btn-white:active {
    border: 1px solid #c8c8c8;
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#eaeef2', endColorStr='#fff', gradientType='0');
    background-image: -webkit-linear-gradient(top, #eaeef2, #fff);
    background-image: -moz-linear-gradient(top, #eaeef2, #fff);
    background-image: -ms-linear-gradient(top, #eaeef2, #fff);
    background-image: -o-linear-gradient(top, #eaeef2, #fff);
    background-color: #eaeef2;
    color: #666666 !important;
    box-shadow: 0px 0px 2px #fff inset !important;
}
.btn-white:focus {
    outline: none;
    color: #666666 !important;
}

/*蓝色按钮*/
.btn-blue {
    border: 1px solid #0c8fc6;
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#0DA8DB', endColorStr='#0c8fc6', gradientType='0') !important;
    background-image: -webkit-linear-gradient(top, #0DA8DB, #0c8fc6) !important;
    background-image: -moz-linear-gradient(top, #0DA8DB, #0c8fc6) !important;
    background-image: -ms-linear-gradient(top, #0DA8DB, #0c8fc6) !important;
    background-image: -o-linear-gradient(top, #0DA8DB, #0c8fc6) !important;
    background-color: #0DA8DB !important;
    color: #ffffff !important;
    outline: none;
}
.btn-blue:hover {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3DB9E2', endColorStr='#3DA6D2', gradientType='0') !important;
    background-image: -webkit-linear-gradient(top, #3DB9E2, #3DA6D2) !important;
    background-image: -moz-linear-gradient(top, #3DB9E2, #3DA6D2) !important;
    background-image: -ms-linear-gradient(top, #3DB9E2, #3DA6D2) !important;
    background-image: -o-linear-gradient(top, #3DB9E2, #3DA6D2) !important;
    background-color: #3DA6D2 !important;
    color: #ffffff !important;
}
.btn-blue:active {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#0A729E', endColorStr='#0a86ae', gradientType='0') !important;
    background-image: -webkit-linear-gradient(top, #4378dd, #0a86ae) !important;
    background-image: -moz-linear-gradient(top, #4378dd, #0a86ae) !important;
    background-image: -ms-linear-gradient(top, #4378dd, #0a86ae) !important;
    background-image: -o-linear-gradient(top, #4378dd, #0a86ae) !important;
    background-color: #0a86ae !important;
    color: #ffffff !important;
}
.btn-blue:focus {
    color: #ffffff !important;
    outline: none;
}



/*自定义checkbox样式*/
.btn-checkbox {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../images/icons-checkbox.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.btn-checkbox:hover {
    background-position: -16px 0px;
}
.btn-checkbox.checked {
    background-position: -32px 0px;
}



/* 自定义table样式 */
.cdsp-table {
    font-size: 14px;
    background-color: #fff;
}
.cdsp-table .no-data {
    font-size: 14px;
    text-align: center;
    line-height: 130px;
    color: #8694a0;
}
.cdsp-table li.t-head {
    background-color: #f1f1f1;
    box-shadow: 0px 1px 0px rgba(0,0,0,.08) inset;
}
.cdsp-table > li.t-head > div:not(:last-child) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 10px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    color: #8694a0;
}
.cdsp-table > li:not(.t-head):not(.t-foot) > div:not(:last-child) {
    line-height: 19px;
    font-size: 14px;
}
.cdsp-table > li:not(.t-head):not(.t-foot):not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition: background-color .05s;
    -moz-transition: background-color .05s;
    -ms-transition: background-color .05s;
    -o-transition: background-color .05s;
    transition: background-color .05s;
    position: relative;
}
.cdsp-table > li:not(.t-head):not(.t-foot):hover {
    background-color: #f9f9f9;
}
.cdsp-table > li .col-1, .cdsp-table > li .col-2, .cdsp-table > li .col-3, .cdsp-table > li .col-4, .cdsp-table > li .col-5, .cdsp-table > li .col-6, .cdsp-table > li .col-7, .cdsp-table > li .col-8, .cdsp-table > li .col-9, .cdsp-table > li .col-10, .cdsp-table > li .col-11, .cdsp-table > li .col-12, .cdsp-table > li .col-13, .cdsp-table > li .col-14, .cdsp-table > li .col-15, .cdsp-table > li .col-16, .cdsp-table > li .col-17, .cdsp-table > li .col-18, .cdsp-table > li .col-19, .cdsp-table > li .col-20 {
    float: left;
    padding: 15px 10px;
}
.cdsp-table li .col-1 {
    width: 5%;
}
.cdsp-table li .col-2 {
    width: 10%;
}
.cdsp-table li .col-3 {
    width: 15%;
}
.cdsp-table li .col-4 {
    width: 20%;
}
.cdsp-table li .col-5 {
    width: 25%;
}
.cdsp-table li .col-6 {
    width: 30%;
}
.cdsp-table li .col-7 {
    width: 35%;
}
.cdsp-table li .col-8 {
    width: 40%;
}
.cdsp-table li .col-9 {
    width: 45%;
}
.cdsp-table li .col-10 {
    width: 50%;
}
.cdsp-table li .col-11 {
    width: 55%;
}
.cdsp-table li .col-12 {
    width: 60%;
}
.cdsp-table li .col-13 {
    width: 65%;
}
.cdsp-table li .col-14 {
    width: 70%;
}
.cdsp-table li .col-15 {
    width: 75%;
}
.cdsp-table li .col-16 {
    width: 80%;
}
.cdsp-table li .col-17 {
    width: 85%;
}
.cdsp-table li .col-18 {
    width: 90%;
}
.cdsp-table li .col-19 {
    width: 95%;
}
.cdsp-table li .col-20 {
    width: 100%
}


.cdsp-table > li .title {
    color: #555E71;
    font-size: 14px;
    font-family: microsoft yahei;
}
.cdsp-table > li .split {
    border-bottom: 1px solid #EEE;
}
.cdsp-table .text {
    color: #8694a0;
    font-size: 14px;
}


/*自定义tag*/
.tag-status {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 0px 12px;
    line-height: 27px;
}
.tag-status.yellow {
    background-color: #f3b613;
}
.tag-status.green {
    background-color: #92c361;
}
.tag-status.red {
    background-color: #ff6022;
}
.tag-status.gray {
    background-color: #dbdbdb;
}


/*自定义dialog*/
.s-dialog-open {
    overflow: hidden;
}
.s-dialog {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.5);
    overflow: auto;
    overflow-y: scroll;
}
.s-dialog .dialog-info {
    opacity: 0;
    position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background-color: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.s-dialog .dialog-info .top {
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -ms-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: microsoft yahei;
    letter-spacing: 3px;
    padding: 10px;
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#0c78b2', endColorStr='#1ad6fd', gradientType='1');
    background-image: -webkit-linear-gradient(left, #0c78b2, #1ad6fd);
    background-image: -moz-linear-gradient(left, #0c78b2, #1ad6fd);
    background-image: -ms-linear-gradient(left, #0c78b2, #1ad6fd);
    background-image: -o-linear-gradient(left, #0c78b2, #1ad6fd);
    background-color: #0c78b2;
}
.s-dialog .dialog-info .content {
    color: #dbdbdb;
    line-height: 26px;
    font-family: microsoft yahei;
    min-height: 350px;
}
.s-dialog .dialog-info .btn-close {
    color: #000;
    position: absolute;
    right: -18px;
    top: -18px;
    cursor: pointer;
}

.floating_layer { display: none; width: 100%; height: 100%; top: 0; left: 0; position: fixed; background-color: rgba(0,0,0,0.5); z-index: 1001; }

/*select*/
.select {
    font-family: microsoft yahei;
    display: block;
    position: relative;
}
.select .select-face {
    display: block;
    color: #8694a0;
    border: 1px solid #dbdbdb;
    padding: 0px 35px 0px 10px;
    border-radius: 4px;
    position: relative;
    height: 34px;
    line-height: 32px;
    cursor: pointer;
    background-color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.select .select-face:hover, .select .select-face:hover .select-btn, .select.active .select-face, .select.active .select-face .select-btn {
    border-color: #c0c2c3;
    color: #555e71;
}
.select .select-face:hover .select-btn {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fff', endColorStr='#f1f1f1', gradientType='0') !important;
    background-image: -webkit-linear-gradient(top, #fff, #f1f1f1) !important;
    background-image: -moz-linear-gradient(top, #fff, #f1f1f1) !important;
    background-image: -ms-linear-gradient(top, #fff, #f1f1f1) !important;
    background-image: -o-linear-gradient(top, #fff, #f1f1f1) !important;
    background-color: #f1f1f1 !important;
}
.select.active .select-face .select-btn {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f1f1f1', endColorStr='#f1f1f1', gradientType='0') !important;
    background-image: -webkit-linear-gradient(top, #f1f1f1, #f1f1f1) !important;
    background-image: -moz-linear-gradient(top, #f1f1f1, #f1f1f1) !important;
    background-image: -ms-linear-gradient(top, #f1f1f1, #f1f1f1) !important;
    background-image: -o-linear-gradient(top, #f1f1f1, #f1f1f1) !important;
    background-color: #f1f1f1 !important;
}
.select.active ul.select-options {
    display: block;
}

.select .select-face .select-btn {
    width: 25px;
    height: 32px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-left: 1px solid #dbdbdb;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding-right: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select .select-face .select-btn:before {
    content: "\e114";
}
.select ul.select-options {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 0px 5px;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    box-shadow: 0px 1px 3px #aaa;
}
.select .select-options li {
    margin: 2px 0px;
    padding: 5px 30px 5px 5px;;
    cursor: pointer;
    color: #555e71;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.select .select-options li:hover {
    background-color: #f1f1f1;
}


/*弹框样式*/
.modal.type-green .modal-header {
    background-color: #9acc67;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-left: 30px;
}
.modal.type-green .modal-header .close {
    outline: none;
    color: #fff;
    opacity: 1;
    font-size: 38px;
    font-weight: normal;
    line-height: 30px;
}
.modal.type-green .modal-header .close:after {
    content: '×';
}
.modal.type-green .modal-header .modal-title {
    font-size: 24px;
}
.modal.type-green .modal-dialog {
    max-width: 94%;
    width: 540px;
    padding-top: 120px;
}

